.footer {
  border-top: 1px solid #194e83;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: max-content;
}

.footerLinkList {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  color: #156088;
  font-size: 10px;
}

.footerLink {
  text-align: end;
}
