.mobile {
    
    @media (max-width: 950px) {
        flex-direction: column ;
        gap: 8px;
      }
}

.control {
    &__mobile {
    @media (max-width: 950px) {
        width: 100%;
      }
      & > button {
        @media (max-width: 950px) {
            width: 100%;
          }
      }
    }
}