@charset "utf-8";

$blue-100: #dbe9ee;
$blue-200: #c0d6df;
$blue-300: #166088;
$black: #191919;

html, body, #root, #root>div {
  height: 100%;
  font-family: "Poppins" ;
  color: $black;
}

// Set your brand colors
$blue: #73a9df;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue-300;
$link: $pink;

// Update some of Bulma's component variables
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
